
@{
    Response.SetStatus(HttpStatusCode.ServiceUnavailable);
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1"><title>
	 503 Service Unavailable
</title>
    <style>
        body {
            font-family: Arial;
            font-size: 14px;
            min-width: 500px;
        }
        .copy {
            margin-top: 20px;
            padding: 60px;
        }
        .page {
            margin: 5%;
            text-align: center;
            padding: 10%;
            border: 1px solid Gray;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            overflow: initial;
        }
        .errorname {
            font-size: 170%;
            color: #535353;
            
        }
        
        .text {
            
            color: #2d2d2d;
            font-size: 120%;
            
            
        }
        a img {
            border: 0;
        }
        a {
            
            color:#2d2d2d;
            text-decoration: underline;
            
        }
            a:hover {
                text-decoration: none;
            }
    </style>
</head>
<body>
    

    <div>
   
         
        <div class="page">
        <table id="Table1">
	<tr id="TableHeaderRow1">
		<td id="TableCell1"><a id="HyperLink1" href="/"></a></td><td id="TableCell2" class="errorname" align="left">
                   503 Service Unavailable
                    
                </td>
	</tr>
</table>
            
                    <span id="Label1" class="b-text"><p class="text">Сервер временно не имеет возможности обрабатывать запросы по техническим причинам.</p></span>
            <p>&nbsp;</p>
               <p><span id="Label2" class="copy">
                    &copy; World Fly development team
                    &copy; razorC.net
                </span></p>
            </div>


       
    </div>
  
</body>
</html>
