@{
    Page.Title = "Смена пароля";
    var errMSG = "";
    var fPwd = "";
    var sPwd = "";
    var rcUser = User.Identity.Name.ToString();    
    
    if (IsPost){
        
        fPwd=Request["fPwd"];
        sPwd = Request["sPwd"];
        
        if (fPwd.Trim().IsEmpty())
        {
            errMSG = "Пожалуйста, введите новый пароль<br/>";
        }
        if (sPwd.Trim().IsEmpty())
        {
            errMSG += "Пожалуйста, подтвердите новый пароль<br/>";
        }
        if(fPwd!=sPwd)
        {
            errMSG += "Пароли должны совпадать !<br/>";
        }
          
        
        if(errMSG.IsEmpty())
        {  
        var db = Database.Open("razorC");
        var sqlUp = "Update rc_Login set rcPwd=@0 where rcUser=@1";
        try
        {
            db.Execute(sqlUp, fPwd, rcUser);
            errMSG = "<b>Изменения сохранены !</b>";
        }
        catch (Exception ex)
        {

            errMSG = ex.Message.ToString();
        }
        
        }
    }
}

@section head {
    
}

@if (!errMSG.IsEmpty())
{
<div> 
@Html.Raw(errMSG)
</div>
}
<form method="post" action="">
 <fieldset>
        <legend>Пользователь: @rcUser</legend>
        <ol>
            <li >
                <label for="fPwd">Новый пароль:</label>
                <input type="password" name="fPwd" id="fPwd" value="@fPwd" maxlength="50" />
                </li>
                <li>
                <label for="sPwd">Подтверждение пароля:</label>
                <input type="password" name="sPwd" id="sPwd" value="@sPwd" maxlength="50" />
            </li>
        </ol>
          <p class="form-actions">
            <input type="submit" value="Измениить" title="Изменить" />
        </p>
</fieldset>
</form>
